{% extends 'shared/base.html' %}
{% block content %}
    <main>
        <div class="container">
            <div class="table-responsive text-nowrap">
                <h2>Orders</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item name</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Zip code</th>
                        <th scope="col">Telephone number</th>
                        <th scope="col">Shipping method</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'product details' order.product.id %}">{{ order.product.name }}</a></td>
                            <td>{{ order.full_name }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.zip_code }}</td>
                            <td>{{ order.telephone_number }}</td>
                            <td>{{ order.shipping_method }}</td>
                            <td>BGN{{ order.product.price }}</td>
                            <td>
                                <a style='color: green;' href="{% url 'accept order' order.id %}">
                                    <i class="fas fa-check"></i>
                                </a>
                            </td>
                            <td>
                                <a style='color: red;' href="{% url 'dismiss order' order.id %}">
                                    <i class="fas fa-trash float-right"></i>
                                </a>
                            </td>

                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan='5'>Your order list is empty</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </main>

{% endblock %}