{% extends 'shared/base.html' %}
{% block content %}
    <section class="text-center mb-4">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card-body">
                        <div class="view overlay">
                            <img src="{{ product.thumbnail.url }}" class="card-img-top" width="300" height="300">
                            <a href="{% url 'product details' product.id %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <a href="{% url 'browse category' product.category %}" class="grey-text">
                                <h5>{{ product.category }}</h5>
                            </a>
                            <strong>
                                <h5>
                                    <a href="{% url 'product details' product.id %}"
                                       class="dark-grey-text">{{ product.name }}
                                    </a>
                                </h5>
                                <h4>
                                    <a href="{% url 'product details' product.id %}"
                                       class="font-weight-bold blue-text">BGN {{ product.price }}
                                    </a>
                                </h4>
                            </strong>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </section>
{% endblock %}