{% extends 'shared/base.html' %}
{% block content %}


    <main class="mt-5 pt-4">
        {% if messages %}
            <ul class="text-lg-center">
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container dark-grey-text mt-5">
            <div class="row wow fadeIn">

                <div class="col-md-6 mb-4">
                    <img src="{{ product.thumbnail.url }}"
                         class="img-fluid" alt="">
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <div class="mb-3">
                            <a href="{% url 'browse category' product.category %}" class="grey-text">
                                <h5>{{ product.category }}</h5>
                            </a>
                        </div>
                        <p class="lead font-weight-bold">{{ product.name }}</p>
                        <p class="lead font-weight">Owner: <a
                                href="{% url 'profile details' product.user.id %}">
                            {{ product.user.profile.full_name }}</a>
                        </p>

                        <h3 class="font-weight-bolder blue-text">
                            <span>BGN{{ product.price }}</span></h3>
                        {% if is_owner or request.user.is_staff or request.user.is_superuser %}
                            <div>
                                <a href="{% url 'edit product' product.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete product' product.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        {% else %}
                            <a href="{% url 'add to cart' product.id %}" class="btn btn-primary">Add to cart
                                <i class="fas fa-shopping-cart"></i></a>

                            <a href="{% url 'remove from cart' product.id %}" class="btn btn-danger">Remove from
                                cart</a>

                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center wow fadeIn">
                <div class="col-md-6 text-center">
                    <h4 class="my-4 h4">Additional information</h4>
                    <p>{{ product.description }}</p>

                </div>
            </div>

            <div class="row">
                {% for image in images %}
                    <div class="col-lg-4 col-md-6 mb-3">
                        <img src="{{ image.image.url }}"
                             alt=".." width="300" height="300">
                    </div>
                {% endfor %}

            </div>


    </main>
{% endblock %}