{% extends 'shared/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class='col-6 offset-3'>
                    <div class="text-lg-center">
                        <h1 style="padding-bottom: 50px">{% trans "You can't access this page" %}</h1>
                        <a href="/" class="btn btn-primary">Go back</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}