
{% extends "shared/base.html" %}
{% load i18n %}

{% block content %}

    <main>
        <div class="container">
            <section class="mb-4">
                <div class="row wow fadeIn">
                    <div class='col-6 offset-3'>
                        <h1>{% trans "Log in" %}</h1>
                        <p>
                            If you haven't got an account <a href="{% url 'user register' %}">Register here!</a>
                        </p>
                        <form class="signup" id="signup_form" method="post" action="{% url 'user login' %}">
                            {% csrf_token %}
                            {{ form }}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class='btn btn-primary' type="submit">{% trans "Log in" %} &raquo;</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}