{% extends 'shared/base.html' %}
{% load i18n %}
{% block content %}
    <main>
        <div class="container">

            <div class="table-responsive text-nowrap">
                <h2>Cart Summary</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Price</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.product.name }}</td>

                            <td>{{ item.product.user.profile.full_name }}</td>
                            <td>BGN {{ item.product.price }}</td>

                            <td>

                                <a style='color: red;' href="{% url 'remove from cart' item.product.id %}">
                                    <i class="fas fa-trash float-right"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan='5'>Your cart is empty</td>
                        </tr>

                    {% endfor %}

                    <tr>
                        <td colspan="3"><b>Order Total</b></td>
                        <td><b>BGN {{ cart.get_total_price }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
                            <button class='btn btn-primary'><a
                                    href="{% url 'browse' %}">{% trans "Continue shopping" %}</a></button>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </main>
{% endblock %}