{% extends 'shared/base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron parent">
            <img style="width: 100%"
                 src="../static/clothes.jpg" alt="">
            <div class="absolute">
                <h1 class="display-4">Welcome to Riddance</h1>
                <p class="lead"></p>
                <hr class="my-4">
                <div class="inner cover">
                    <h1 class="cover-heading"></h1>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if not request.user.is_authenticated %}
                            <p class="lead">Already have an account? <br><a href="{% url 'user login' %}"
                                                                            class="btn btn-lg btn-secondary">Log in</a>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead"> Do not have an account? <br>
                                <a href="{% url 'user register' %}" class="btn btn-lg btn-secondary">Register</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}